body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1100px) {
    /* Your CSS rules for smaller screens */
    .container{
        max-width: 800px;
    }
}

@media screen and (max-width: 900px) 
{
    .container{
        max-width: 400px;
    }
}


@media screen and (max-width: 399px) 
{
    .container{
        max-width: 349px;
    }

    
}


